#nav a:hover, a:active {
    display: block;
    background-color: #BCE8F1;
    color: #31708F;
}

#nav a.selected:link, a.selected:visited{
    display: block;
    background-color: #BCE8F1;
    color: #FFFFFF;
}

#nav a.selected:hover, a.selected:active {
    display: block;
    background-color: #BCE8F1;
    color: #FFFFFF;
}